  </div>
  <!-- /.content-wrapper --> 
<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="javascript://">Cric Commentary</a>.</strong> All rights
    reserved.
  </footer>


  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->

</div>
<!-- ./wrapper -->



<!-- Bootstrap 3.3.6 -->
<script src="<%= (global.base_url) ? global.base_url : '..' %>/bootstrap/js/bootstrap.min.js"></script>


<script src="<%= (global.base_url) ? global.base_url : '..' %>/js/app.min.js"></script>
<script src="<%= (global.base_url) ? global.base_url : '..' %>/js/custom.js"></script>
</body>
</html>