<%- include ../../layouts/header.ejs %>
 <!-- Content Header (Page header) -->
<script type="text/javascript" src="<%= (global.base_url) ? global.base_url : '..' %>/js/jquery.datetimepicker.js"></script>
<link rel="stylesheet" type="text/css" href="<%= (global.base_url) ? global.base_url : '..' %>/css/jquery.datetimepicker.css"/>
    <section class="content-header">
      <h1 style="margin-bottom:10px;">
        Add Users
        <small>users panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Add Users</li>
      </ol>

    </section> 

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Add User</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
        <div class="page-data">
            <form role="form" id="user-form" method="post" action="/users/save-user">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="hidden" name="user_id" id="user_id" value=""/>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label for="password">Password <small class="pass-info"></small></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
              </div>
              <div class="form-group">
                <label for="type_of_membership">Type of Membership</label>
                <select required id="" class="form-control" name="type_of_membership">
			<option value="">-Select-</option>
                        <option  value="normal_user">Normal User</option>
                        <option  value="admin">Admin</option>
                </select>
              </div>
              <div class="form-group">
                <label for="startdate">Start Date</label>
                <input class="form-control" id="startdate" type="text"  name="startdate" value="" required>
              </div>
              <div class="form-group">
                <label for="enddate">End Date</label>
                <input class="form-control" id="enddate" type="text"  name="enddate" value="" required>
              </div>
              <div class="form-group">
                <label for="amount">Amount</label>
                <input class="form-control" type="text" name="amount" id="amount" value="" required/>
              </div>
              <div class="form-group">
              <label class="radio-inline">
                  <input type="radio" id="status-active" name="status" value="1" checked> Active
               </label>
              <label class="radio-inline">
                  <input type="radio" id="status-inactive" name="status" value="0"> Inactive
                </label>
              </div>
              <div class="form-group">
                <a class="btn btn-default" href="/users"><i class="fa fa-times"></i>Cancle</a>
                <button type="submit" class="btn btn-primary" id="save-user"><i class="fa fa-save"></i> Save</button>
              </div>
            </form>             
        </div>
        
  </div>
         </div>
         </div>
     </div>
    </section>
<script type="text/javascript">
var startDate;
         $("#startdate").datetimepicker({
                     closeOnDateSelect:true,
                
                    
                     showTimepicker: false,
                     timepicker: false,
                     format: 'Y-m-d',
                     minDate: 0,
                     scrollMonth : false,
                     scrollInput : false,
                     onChangeDateTime: function(dp,$input){
                               startDate = $("#startdate").val();
                               $("#enddate").val(startDate);
                                                           }
                 });
        $("#enddate").datetimepicker({
                     closeOnDateSelect:true,
                    minDate: 0,
                    showTimepicker: false,
                    timepicker: false,
                    format: 'Y-m-d',
                    scrollMonth : false,
                    scrollInput : false,
                     onClose: function(current_time, $input){
                            var endDate = $("#enddate").val();
                            if(startDate>=endDate){
                                   alert('Please select correct date range');
                             }
             }
              });
</script>
<%- include ../../layouts/footer.ejs %>